body {
  font-family: Arial, sans-serif;
  margin: 80px 0 0;
  line-height: 1.5rem;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__title {
  width: 100%;
  color: #333;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1.5em;
}

.section__description {
  width: 100%;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.title {
  font-family: 'Times New Roman', serif;
  font-size: 24px;
  text-transform: uppercase;
}

address {
  font-style: normal;
}

.intro {
  height: 30vw;
  min-height: 300px;
  background-image: url('images/bg.jpg');
  background-position:20% center;
  background-size: cover;
}

table {
  display: none;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid black;
  text-align: center;
}

.advantages ul {
  padding: 0;
}

.advantages li {
  list-style: none;
  margin-bottom: 20px;
}

.advantages li::before {
  content: url('images/advantages-icon.png');
}

.use {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.use__card {
  width: 250px;
  padding: 20px;
  text-align: center;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog__card {
  width: 250px;
  margin-right: 40px;
  margin-bottom: 40px;
  border: 1px solid #d2d1d1;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.catalog__img {
  height: 160px;
}

.catalog__info {
  text-align: left;
}

.docs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.docs__img {
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;
}

@media (max-width: 716px) {
  .catalog__card {
    width: 100%;
    margin-right: 0;
  }
}
