/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Шрифты
  ========================================
*/
@font-face {
	font-family: QueenofHeaven;
	src: url(../fonts/QueenofHeaven.ttf);	
}
@font-face {
	font-family: ProximaNova-Bold;
	src: url(../fonts/ProximaNova-Bold.ttf);
}
@font-face {
	font-family: ProximaNova-Regular;
	src: url(../fonts/ProximaNova-Regular.ttf);
}
@font-face {
	font-family: Regal-Display;
	src: url(../fonts/PFRegalDisplayPro-Black-Italic.otf);
}
/*
  ========================================
  Основные стили
  ========================================
*/
hr {
	color: #ececec;
	background-color: #ececec;
	border: none;
	height: 1px;	
	margin: 0;
}
.align-center {
	text-align: center;
}
/*
  ========================================
  Типографика
  ========================================
*/
.regular {
	font-family: ProximaNova-Regular, Verdana, Tahoma, Arial, sans-serif;
}
.bold {
	font-family: ProximaNova-Bold, Verdana, Tahoma, Arial, sans-serif;
}
.small {
	font-family: ProximaNova-Regular, Verdana, Tahoma, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #808080;
}
.regal-display {
	font-family: Regal-Display, Verdana, Tahoma, Arial, sans-serif;
}
/*
  ========================================
  Шапка
  ========================================
*/
header {
	width: 1400px;
	margin: auto;
	background: #f5f5f5;
}
.logo h1 {
	font-family: QueenofHeaven, Verdana, Tahoma, Arial, sans-serif;
	font-size: 32px;
	text-align: center;
	padding: 20px;
}
header a {
	color: black;
	text-decoration: none;
}
.header-top div {
	display: inline-block;
	vertical-align: middle;
}
button.make-shop-top {
	width: 130px;
	height: 34px;
	background-color: white;
	border: none;
	border-radius: 17px;
	font-size: 13px;
	margin-left: 85px;
	margin-right: 120px;
}
.header-top img {
	width: 18px;
	color: #222222;
	position: relative;
	top: 3px;
	margin-right: 5px;
}
.header-top div.left-col,
.header-top div.logo {
	width: 460px;
}
.header-top .right-col {
	margin-left: 30px;
	color: #222222;
}
.header-top .right-col div{
	margin-right: 50px;	
}
.header-top .right-col div:last-child {
	margin-left: 35px;
}
.header-top .right-col div:last-child span {
	padding: 4px 15px;
	background-color: white;
	border-radius: 14px;
}
/*
  ========================================
  Главное меню
  ========================================
*/
.main-menu ul {
	padding: 0px 100px 15px;
}
.main-menu li {
	display: inline;
	margin-right: 33px;	
}
.main-menu li:last-child {
	margin-right: 0;
}
.main-menu a {
	/*font-family: ProximaNova-Bold, Verdana, Tahoma, Arial, sans-serif;*/
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #222222;
}
/*
  ========================================
  Основная информация
  ========================================
*/
.content {
	width: 1200px;
	margin: auto;
	padding: 20px 100px 40px;
	background: #f5f5f5;
}
/*
  ========================================
  Обложка магазина
  ========================================
*/
.shop-cover {
	height: 400px;
	background-image: url('../images/shop-cover.jpg');
	background-size: cover;
	background-position: center;	
	margin-bottom: 60px;	
}
.shop-cover i {
	font-size: 20px;
	color: #f5f5f5;
	position: relative;
	top: 30px;
	left: 30px;	
}
.shop-cover h2 {
	font-size: 58px;	
	margin: auto;
	color: white;
	width: 60%;	
	line-height: 60px;
	font-weight: bold;	
}
.shop-cover img {
	text-align: center;	
	width: 70px;
	border: 5px solid white;
	border-radius: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
}
.shop-cover p {
	color: white;
	font-size: 18px;
	margin-top: 20px;
}
/*
  ========================================
  Галерея
  ========================================
*/
.gallery {
	margin-bottom: 50px;
}
.gallery figure {
	display: inline-block;
	vertical-align: top;
	margin-right: 115px;
	margin-bottom: 60px;
	width: 300px;
}

.gallery figure:nth-child(3n) {
	margin-right: 0;
}

/*@media (min-width: 1450px) {
	.gallery figure:nth-child(3n) {
		margin-right: 0;
	}
}*/
.gallery img {	
	height: 240px;	
}
.gallery p {
	font-size: 19px;
	line-height: 22px;
	padding: 10px 50px 0px 0px;
}
.gallery .small {
	padding-left: 20px;
	text-decoration: line-through;
	color: #9f9f9f;
}
/*
  ========================================
  Кнопка
  ========================================
*/
.load-more {
	font-size: 15px;
	color: #222222;
	background: transparent;
	border: 1px solid #dfdfdf;
	border-radius: 21px;
	/*width: 180px;
	height: 42px;*/
	padding: 5px 20px 10px 28px;	
}
.load-more img {
	height: 18px;
	position: relative;
	right: 14px;
	top: 5px;
}
/*
  ========================================
  Описание магазина
  ========================================
*/
.shop-description {
	color: #222222;
}
.contact {
	width: 420px;
	float: left;
	margin-top: 45px;
}
.about-shop {
	width: 780px;
	float: right;
}
.contact img {
	width: 130px;
	border-radius: 65px;
}
.contact figcaption {	
	font-size: 18px;
	margin: 18px 40px;
}
.about-shop {
	margin-top: 40px;
}
.about-shop h2 {
	font-size: 22px;
	margin-bottom: 22px;
}
.about-shop p {	
	font-size: 19px;
	line-height: 28px;
	margin-bottom: 22px;
}
button.question {
	width: 126px;
	height: 40px;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	background: transparent;
	color: #222222;	
}
.about-shop .small {
	color: #aaaaaa;
	font-size: 14px;
}
.about-shop .small a {
	text-decoration: none;
}
.about-shop .small i {
	color: #cccccc;
	margin-left: 10px;
	padding: 2px 5px;
	background-color: #ececec;
	border-radius: 10px;
	vertical-align: middle;	
}
/*
  ========================================
  Отзывы
  ========================================
*/
.reviews div {
	width: 780px;
	float: right;
	color: #222222;
	margin-top: 40px;
	margin-bottom: 20px;	
}
.reviews h2 {
	font-size: 22px;
	margin-bottom: 32px;
}
.reviews p.regular {
	font-size: 19px;
	line-height: 28px;
	margin-bottom: 10px;
}
.reviews p.small {
	/*font-size: 19px;
	line-height: 28px;*/
	margin-bottom: 35px;
	color: #aaaaaa;
}
.reviews .sort {
	float: right;
}
.icon-star,
.icon-star-half-alt {
	font-size: 16px;
	color: #ffc938;
	margin: -5px;	
}
.reviews h2 .icon-star:first-child {
	margin-left: 10px;
}
.reviews p .icon-star {
	margin-right: -3px;
}
.reviews p .icon-star:first-child {
	margin-left: 25px;
}
.sort span {
	font-size: 16px;
	color: #222222;
	padding: 5px;	
}
.sort span:last-child {
	margin-right: 0px;
}
.sort span.checked {
	background-color: white;
	border-radius: 15px;
	padding: 5px 10px;
}
/*
  ========================================
  Подвал
  ========================================
*/
footer {
	width: 1400px;
	margin: auto;
}
footer > div {
	width: 1200px;
	margin: auto;
}
.site-description {
	width: 600px;
	float: left;
}
.site-description p {
	margin: 50px 70px 50px 0px;
	padding-right: 60px;	
}
.site-description .col-1 {
	float: left;
	margin-top: 60px;
	margin-bottom: 100px;
	margin-right: 40px;
}
/*
.site-description .col-2 {
	float: right;
}
*/
.footer-menu {
	width: 600px;
	float: left;
}
.footer-menu div {
	display: inline-block;
	float: left;
	margin: 50px 65px 50px 0;
}
.footer-menu .col-3 {
	margin-right: 0;
}
.footer-top {
	font-size: 19px;
	line-height: 28px;
	border-bottom: 1px solid #ececec;
}
.footer-menu a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #ececec;
}
a.info {
	color: #ef9085;
}
.footer-middle {
	padding-top: 25px;
	padding-bottom: 45px;
}
.footer-middle div {
	display: inline-block;
	vertical-align: top;
}
button.make-shop {
	font-size: 16px;
	color: white;
	background-color: #222222;
	border: none;
	border-radius: 18px;
	width: 160px;
	height: 36px;	
}
div.make-shop {
	width: 285px;
}
.make-shop p {
	padding: 8px 15px;
}
.mail a {
	font-size: 19px;
	border-bottom: 1px solid #ececec;
	color: black;
	text-decoration: none;	
}
.mail p {
	width: 165px;
	margin-bottom: 10px;	
}
.mail div {
	float: right;
}
.mail img {
	width: 26px;
	margin-right: 15px;	
}
.submit {
	width: 600px;
	float: right;
}
.submit label {
	color: #222222;	
}
.submit input {
	width: 417px;
	height: 46px;
	padding-left: 15px;
	font-size: 16px;
	border: 1px solid #ececec;
	margin-right: 20px;
	margin-top: 5px;
}
.submit button {
	width: 145px;
	height: 50px;
	background: transparent;
	border: 1px solid #999999;
	border-radius: 3px;
	font-size: 17px;
	color: #222222;	
}
.footer-bottom {
	padding: 18px;
}
.footer-bottom .copyright {
	float: left;
}
.footer-bottom .social-media {
	float: right;
}
.footer-bottom .social-media i {	
	font-size: 20px;
	margin-left: 40px;
	color: #ededed;
}
/*
  ========================================
  ClearFix
  ========================================
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*
  ========================================
  Анимация
  ========================================
*/
a:hover,
a img:hover {
	color: firebrick;
}